In [30]:
# import libraries
import pandas as pd
import os

In [31]:
# define current working directory
cwd = os.getcwd()

In [32]:
# import dataset
dataset = pd.read_excel(cwd + "/Data - Survey Monkey Output - Edited.xlsx", sheet_name="edited_data")
dataset.head()

,Respondent ID,Start Date,End Date,Email Address,First Name,Last Name,Custom Data 1,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,5379192392,2021-01-22 12:01:17,2021-01-22 12:40:34,NaN,NaN,NaN,NaN,Infrastructure,NaN,Staff,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2658722536,2021-01-22 06:56:37,2021-01-22 07:34:10,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4044163394,2021-01-22 06:35:18,2021-01-22 06:47:32,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5535865599,2021-01-21 21:29:32,2021-01-21 21:40:24,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3356802928,2021-01-21 17:26:39,2021-01-21 17:44:40,NaN,NaN,NaN,NaN,Port Operations,NaN,Manager,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8

In [33]:
# make a copy of the dataset
dataset_modified = dataset.copy()
dataset_modified.head()

,Respondent ID,Start Date,End Date,Email Address,First Name,Last Name,Custom Data 1,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,5379192392,2021-01-22 12:01:17,2021-01-22 12:40:34,NaN,NaN,NaN,NaN,Infrastructure,NaN,Staff,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2658722536,2021-01-22 06:56:37,2021-01-22 07:34:10,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4044163394,2021-01-22 06:35:18,2021-01-22 06:47:32,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5535865599,2021-01-21 21:29:32,2021-01-21 21:40:24,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3356802928,2021-01-21 17:26:39,2021-01-21 17:44:40,NaN,NaN,NaN,NaN,Port Operations,NaN,Manager,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8

In [34]:
# take a look at all the columns and drop the ones we do not need
dataset_modified.columns
columns_to_drop = ['Start Date', 'End Date', 'Email Address', 'First Name', 'Last Name', 'Custom Data 1']
dataset_modified = dataset_modified.drop(columns=columns_to_drop, errors='ignore')
dataset_modified.head()

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question 1 - Response,Question 2 - Response,...,Question 29 - Response 8,Question 29 - Response 9,Question 29 - Response 10,Question 29 - Response 11,Question 29 - Response 12,Question 29 - Response 13,Question 29 - Response 14,Question 30 - Response 1,Question 30 - Response 2,Question 30 - Response 3
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,NaN,Answer 6,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Answer 4,Answer 2,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Answer 5,Answer 7,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Answer 1,Answer 1,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,NaN,Answer 3,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8

In [35]:
# unpivot the data

# define variables for melt function
id_vars = list(dataset_modified.columns[:8])
value_vars = list(dataset_modified.columns[8:])
var_name = 'Question - subquestion'
value_name = 'Answer'

# melt
dataset_melted = dataset_modified.melt(id_vars=id_vars, value_vars=value_vars, var_name=var_name, value_name=value_name)
dataset_melted.sort_values('Respondent ID', ascending=True, inplace=True)
dataset_melted

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question - subquestion,Answer
1567,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 5 - Response 3,Answer 8
6715,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 11 - Response 2,Answer 5
8893,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 21 - Response,Answer 4
3151,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 6 - Response 5,Answer 7
13645,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 28 - Response,NaN
...,...,...,...,...,...,...,...,...,...,...
14338,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 29 - Response 4,Answer 7
16912,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 30 - Response 3,Answer 8
1270,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 5 - Response 2,NaN
8398,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 19 - Other (please specify),NaN
15130,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 29 - Response 8,Answer 5

In [36]:
# add original question using split
dataset_melted['Question'] = dataset_melted['Question - subquestion'].str.split(' - ').str[0]
dataset_melted

,Respondent ID,Identify which division you work in. - Response,Identify which division you work in. - Other (please specify),Which of the following best describes your position level? - Response,Which generation are you apart of? - Response,Please select the gender in which you identify. - Response,Which duration range best aligns with your tenure at your company? - Response,Which of the following best describes your employment type? - Response,Question - subquestion,Answer,Question
1567,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 5 - Response 3,Answer 8,Question 5
6715,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 11 - Response 2,Answer 5,Question 11
8893,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 21 - Response,Answer 4,Question 21
3151,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 6 - Response 5,Answer 7,Question 6
13645,1001882880,Infrastructure,NaN,Staff,Millennial (born between 1981-2000),Female,0-2 years,Full time Employee,Question 28 - Response,NaN,Question 28
...,...,...,...,...,...,...,...,...,...,...,...
14338,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 29 - Response 4,Answer 7,Question 29
16912,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 30 - Response 3,Answer 8,Question 30
1270,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 5 - Response 2,NaN,Question 5
8398,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 19 - Other (please specify),NaN,Question 19
15130,9983361274,Information Technology,NaN,Staff,Generation X (born between 1965-1980),Male,5-10 years,Full time Employee,Question 29 - Response 8,Answer 5,Question 29